
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  .carousel-indicators .active {
    background-color: rgb(160, 11, 11);
  }

  .col-md-3 img {

    width: 270px;
    height: 200px;
  }

  body .carousel-indicator li {
    background-color: blue;
  }

  body .carousel-indicators {
    bottom: -40px;

  }

  .carousel-indicators li {

    background-color: rgb(214, 127, 127);


  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: black;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: auto;
    bottom: auto;
    padding-top: 222px;
    width: 2%;
  }


  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .toast:not(:last-child) {
    margin-bottom: -1.25rem;
  }

  .row-image {
    width: 118px;
    display: inline-block;
    padding: -29px;
    
  }

  .list-group-item-action {
    width: 100%;
    color: #6f1f22;
    text-align: -webkit-center;
  }

  .list-group-item {
    position: initial;
    display: table-caption;
    padding: -41.25rem 52.25rem;

    border: 1px solid rgba(0, 0, 0, .125);
  }

  .list-group-item-action {
    width: 100%;
    color: rgb(0 5 10);
    text-align: -webkit-center;
  }

  .list-group-item {

    margin-bottom: -23px;

  }

  .card {

    border-radius: 3.25rem;
  }
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: var(--white);}

  .btn {
    display: inline-block;
    font-weight: 600;
    }


body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}


.bg-dark {
    background-color: #dc172a!important;
}
#cart-icon{
	width:28px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:rgb(12, 4, 4);
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width:50px;
	display: inline-block;
	padding: 5px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

 element.style {
    border-block-end: inherit;
  }

  .figure-img {
    margin-bottom: 0.5rem;
    line-height: inherit;
  }

  constructed stylesheet .row-image {
    width: 50px;
    display: inline-table;
    padding: 5px;
  }

  .figure-img {
    margin-bottom: 74.5rem;
    line-height: 1;
  }

  img {
    vertical-align: -webkit-baseline-middle;
    border-style: none;

 
  }